<div class="wrapper">
  <section class="meal-entry">
    <header class="box-heading">Enter the Meal Details</header>
    <form name="mealDetails" novalidate ng-submit="submit()">
      <p>
        <label for="base-price">Base Meal Price: $ 
          <input type="number" name="base_price" ng-model="bill.base_price" required>
        </label>
      </p>
      <p>
        <label for="tax-rate">Tax Rate: % 
          <input type="number" name="tax_rate" ng-model="bill.tax_rate" required>
        </label>
      </p>
      <p>
        <label for="tip-percentage">Tip Percentage: % 
          <input type="number" name="tip_percentage" ng-model="bill.tip_percentage"   required>
        </label>
      </p>
      <button name="mealDetails" type="submit"  class="submit">Submit</button>
      <button ng-click="cancel()">Cancel</button>
    </form>
  </section>
  <section class="mealOutput">
    <div class="customer">
          <header class="box-heading">Customer Charges</header>
          <p>Subtotal {{ cust.subtotal | currency }}</p>
          <p class="tip">Tip {{ cust.tip | currency }}</p>
          <hr/>
          <p>Total {{ cust.total | currency }}</p>
    </div>
  </section>
</div>